.input-style {
    border: 2px solid #ccc;
    border-radius: 5px; 
    background-color: #f9f9f9;
    color: #333;
}

.input-style:focus {
    border-color: #ff6347; 
    box-shadow: 0 0 8px rgba(255, 99, 71, 0.4); 
}

.btn-style {
    background-color: #ff6347; 
    border-color: #ff6347; 
    color: #fff;
}

.btn-style:hover {
    background-color: #ff4500; 
    border-color: #ff4500; 
}

.btn-style:focus {
    box-shadow: 0 0 8px rgba(255, 69, 0, 0.4);
}

input[type="radio"]{
    width: 20px;
    height: 20px;
}
input[type="radio"]:checked{
    border-color: #862907;
    background-color: #ff4500;
}