<app-menu [pageTitle]="'Cadastrar Produto'">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="adicionarVenda()">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="inputState" class="form-label">Nome Produto:
                        </label>
                        <select id="inputState" class="form-select" [(ngModel)]="produtoSelecionado"
                            name="produtoSelecionado">{{produtoSelecionado.nome}}
                            <option *ngFor="let produto of produtos" [ngValue]="produto"
                                (change)="buscarProduto(produtoSelecionado)">{{ produto.nome }}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="quantidade" class="form-label">Quantidade:</label>
                        <input type="number" class="form-control" id="quantidade" name="quantidade"
                            [(ngModel)]="quantidade">
                    </div>
                </div>
                <div class="col-sm-12 mt-2">
                    <button type="submit" class="btn btn-primary" style="background-color: #f7a839; border: #f7a839; color: #400300;">Adicionar Produto</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle text-center" style="background-color: #400300e8; color: beige;">Item</th>
                        <th scope="col" class="align-middle text-center" style="background-color: #400300e8; color: beige;">Qtd.</th>
                        <th scope="col" class="align-middle text-center" style="background-color: #400300e8; color: beige;">Valor</th>
                        <th scope="col" class="align-middle text-center" style="background-color: #400300e8; color: beige;">Subtototal
                        </th>
                        <th scope="col" class="align-middle text-center" style="background-color: #400300e8; color: beige;">Data</th>
                        <th scope="col" class="align-middle text-center" style="background-color: #400300e8; color: beige;"
                            class="align-middle text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let venda of listaVendas; let i = index">
                        <td scope="col" style="border-bottom: 1px solid orange;"
                            class="align-middle text-center">{{ venda.produto.nome }}</td>
                        <td scope="col" style=" border-bottom: 1px solid orange;"
                            class="align-middle text-center"> {{
                            venda.quantidade}}</td>
                        <td scope="col" style=" border-bottom: 1px solid orange;"
                            class="align-middle text-center">{{
                            venda.produto.valor }}</td>
                        <td scope="col" style=" border-bottom: 1px solid orange;"
                            class="align-middle text-center">{{
                            venda.subtotal }}</td>
                        <td scope="col" style=" border-bottom: 1px solid orange;"
                            class="align-middle text-center"> {{
                            venda.data }}</td>
                        <td scope="col" style=" border-bottom: 1px solid orange;"
                            class="align-middle text-center"><app-icon [name]="'excluir'"></app-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-menu>