<app-menu>
    <div class="d-flex justify-content-center">
        <div class="col-sm-6 d-flex justify-content-end">
            <div class="card m-4 w-50 h-100 card-vinho p-3"> <!-- Aplicando a classe card-vinho -->
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Listar Usuarios</h5>
                    <a href="lista-usuario" class="btn btn-primary btn-bege mt-3">Iniciar Listagem</a> <!-- Aplicando a classe btn-bege -->
                </div>
            </div>
        </div>
        <div class="col-sm-6 mx-auto d-flex justify-content-center">
            <div class="card m-4 w-50 h-100 card-vinho p-3"> <!-- Aplicando a classe card-vinho -->
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Cadastrar Usuario</h5>
                    <a href="cadastro-usuario" class="btn btn-primary btn-bege mt-3">Iniciar Cadastro</a> <!-- Aplicando a classe btn-bege -->
                </div>
            </div>
        </div>
        <div class="col-sm-6 mx-auto d-flex justify-content-start">
            <div class="card m-4 w-50 h-100 card-vinho p-3"> <!-- Aplicando a classe card-vinho -->
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Editar Usuario</h5>
                    <a href="editar-usuario" class="btn btn-primary btn-bege mt-3">Editar Cadastro</a> <!-- Aplicando a classe btn-bege -->
                </div>
            </div>
        </div>
    </div>
</app-menu>