<div class="container-fluid p-0" style="background-color: #ffa500">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light p-1 menu"
            style="background: linear-gradient(45deg, #FFA500, #FF6347); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <img [src]="patinha" alt="" width="30" height="30" style="margin-left: 20px;">
            <a class="navbar-brand" href="#" style="color: #fff; font-weight: bold; padding-left: 10px;">Pet Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="menu-usuario" style="color: #fff;">Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu-estoque" style="color: #fff;">Estoque</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu-venda" style="color: #fff;">Vendas</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <div style="background-color: #fff; min-height: 650px; padding: 5em; padding-top: 1.5em; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 10px;">
            <div class="row">
                <h1 class="titulo_pagina">{{ pageTitle }}</h1>
            </div>
            <div class="body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>





