<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <i> <img [src]="patinha" alt="" width="25" height="25" style="margin-left: 20px;"></i>
                <span class="nav-text"><br></span>
            </li>

            <li>
                <a href="efetuar-venda">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                    <span class="nav-text">
                        Efetuar Venda
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="relatorio-vendas">
                    <i class="fa fa-book"></i>
                    <span class="nav-text">
                        Relatório Vendas
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="cadastro-usuario">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">
                        Cadastrar Usuário
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="lista-usuario">
                    <i class="fa fa-users"></i>
                    <span class="nav-text">
                        Lista Usuários
                    </span>
                </a>

            </li>
            <li>
                <a href="cadastrar-produto">
                    <i class="fa fa-plus-square"></i>
                    <span class="nav-text">
                        Cadastrar Produto
                    </span>
                </a>
            </li>
            <li>
                <a href="lista-produtos">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                       Listar Produtos
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>
<div class="conteudo-fixo" >
    <div class="conteudo"
        style="background-color: #ffe0b5; min-height: 698px; padding: 10em; padding-top: 2.5em; ">
        <div class="row">
            <h2 class="titulo_pet"><img src="/assets/cheers_pet.png" alt=""></h2>
            <h1 class="titulo_pagina">{{ pageTitle }}</h1>
        </div>
        <div class="body">
            <ng-content></ng-content>
        </div>
    </div>
</div>